{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jazzmin %}

{% block result_list %}
    <div class="change-list-actions row pb-3">
        <div class="col-12">
            {% if action_form and actions_on_top and cl.show_admin_actions %}
                <div class="d-inline-block">
                    {% admin_actions %}
                </div>
                <div class="d-inline-block">
                    <a href="{% url 'export_task_submissions' %}" class="btn btn-primary mx-4">{% trans 'Export to CSV' %}</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}
        <div class="row">
            <div class="col-12">
                <div class="d-inline-block">
                    {% admin_actions %}
                </div>
                <div class="d-inline-block">
                    <a href="{% url 'export_task_submissions' %}" class="btn btn-primary mx-4">{% trans 'Export to CSV' %}</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}