#footer,
.push {
    height: 50px;
    font-size: 13px;
    margin-top: 1.5rem;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: coral;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#math-editor {
    height: 200px;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    margin-bottom: 1em;
}

button[type="submit"] {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
}

.katex-html {
    width: fit-content;
}

/* Add space between broken lines: */
.katex-display > .base {
    margin: 0.25em 0
}

/* Compensate by reducing space around display math */
.katex-display {
    margin: 0.5em 0;
}
