<li class="nav-item dropdown"><a class="nav-link btn" data-toggle="dropdown" href="#" title="Choose language"> Cosi </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left" id="jazzy-languagemenu">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
            {% for language in languages %}
            <button type="submit" name="language" value="{{ language.code }}"
                    class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                    lang="{{ language.code }}"> {{ language.name_local|title }}
            </button>
            {% endfor %}
        </form>
    </div>
</li>