{% extends "../base.html" %}
{% load static %}
<head>
    ...
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="{% static 'js/mathjax.js' %}"></script>

</head>

{% load i18n %}

{% block content %}
    <h1>{% trans 'Welcome' %} {{ user.username }} </h1>

    <h2>{% trans 'Choose an Option' %}</h2>
    <h1>{% trans 'great webte assigment - student' %}</h1>

    <p> {{ user.username }} </p>

    <ul>
        <li><a href="#">{% trans 'Take the Exam' %}</a></li>
        <li><a href="#">{% trans 'View Previous Assignments' %}</a></li>
    </ul>

    <form method="POST" action="{% url 'submit_math' %}">
        {% csrf_token %}
        <label for="math-editor">Solution</label><textarea id="math-editor" placeholder="When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
        \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]" name="math_content"></textarea>
        <button type="submit">{% trans 'Submit' %}</button>
    </form>

    <p>
        {{ user.ais_id }}
        {{ user.username }}
        {{ user.email }}
        {{ user.last_name }}
        {{ batch.name }}
        {{ task_submission.user }}
    </p>

    <h2>{% trans 'Tasks Assigned to ' %}{{ request.user.username }}</h2>
    <ul>
        {% for task in tasks %}
            <li>{{ task.solution }}</li>
            {% empty %}
            <li>{% trans 'No tasks assigned.' %}</li>
        {% endfor %}
    </ul>

    <div id="divMathOut">
        a
    </div>
    <script>import {typeset} from 'mathjax';</script>
    <script>



        window.addEventListener('DOMContentLoaded', () => {
            typeset();
        });

        {#import CKEDITOR from "../../../../staticfiles/admin/js/vendor/xregexp/xregexp";#}
        {##}
        {#MathJax.Hub.Configured(function () {#}
        {##}
        {#    CKEDITOR.replace('math-editor', {#}
        {#        extraPlugins: 'MathJax',#}
        {#        mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_SVG'#}
        {#    });#}
        {##}
        {#    // Render math using MathJax in the preview element#}
        {#    CKEDITOR.instances['math-editor'].on('change', function () {#}
        {#        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'math-preview']);#}
        {#    });#}

    </script>
{% endblock %}
