{% extends "../base.html" %}
{% load static %}
{% load i18n %}

<head>
    <script src="{% static 'js/mathjax.js' %}"></script>
</head>

{% block content %}
    <h1>{% trans 'Welcome' %} {{ user.username }} </h1>

    <h2>{% trans 'Choose an Option' %}</h2>
    {#    <h1>{% trans 'great webte assigment - student' %}</h1>#}

    <h2>{% trans 'Tasks Assigned to ' %}{{ request.user.username }}</h2>
    <table id="tasksTable">
        <thead>
        <tr>
            <th>Task ID</th>
            <th>Task</th>
            <th>Batch</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.task.id }}</td>
                <td>{{ task.task.task }}</td>
                <td>{{ task.task.batch.name }}</td>
                <td>
                    {% if task.task_submission.points is None %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#task-modal"
                                onclick='fillTaskModal("{{ task.task.id }}", "{{ task.task.task }}", "{{ task.task.image }}")'>
                            solve
                        </button>
                    {% else %}
                        {{ task.task_submission.points }} Point/s
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'No tasks assigned.' %}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% include 'zaverecne_zadanie/students/task_modal.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.css">

    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tasksTable').DataTable();
        });

        function fillTaskModal(id, task, image) {
            let str = insertNewlines(task, 100);
            console.log(str);
            str = str.replaceAll('$', "");
            console.log(str);

            str = str.replace(/ /g, '\\hspace{1mm}');
            str = str.replace('dfrac', '\\dfrac');
            convertEquation(str);
            console.log(str);

            document.getElementById("task_id").value = id;
        }


        function convertEquation(latexEquation) {
            var equationElement = document.getElementById('task');
            katex.render(latexEquation, equationElement, {
                throwOnError: true,
                displayMode: true
            });
        }

        function insertNewlines(equation, lineLength) {
            let result = '';
            let currentLineLength = 0;

            for (let i = 0; i < equation.length; i++) {
                const char = equation[i];
                result += char;
                currentLineLength++;

                // Check if the current line length exceeds the specified line length
                if (currentLineLength >= lineLength && char === ' ') {
                    result += '\\\\';
                    currentLineLength = 0;
                }
            }

            return result;
        }

        var mathField = MathQuill.MathField(document.getElementById("equation-editor"));

        function insertSymbol(symbol) {
            mathField.cmd(symbol);
        }

        // Get the equation from the MathQuill instance
        function getEquation() {
            var equation = mathField.latex();
            console.log(equation);
            document.getElementById("students_solution").value = equation;
            document.getElementById("task_modal_form").submit();
        }

    </script>
{% endblock %}
