{% extends "../base.html" %}
{% load static %}
{% load i18n %}

<head>
    <script src="{% static 'js/mathjax.js' %}"></script>
</head>

{% block content %}
    <h2 class="mt-2">{% trans 'Available batches' %}</h2>
    <table id="batches-table">
        <thead>
        <tr>
            <th>{% trans 'Batch name' %}</th>
            <th>{% trans 'Points for batch' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
            <tr>
                <td>{{ batch.name }}</td>
                <td>{{ batch.points }}</td>
                <td>
                    <form id="generate-task-form" action="{% url 'generate-task' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="batch-name" name="batch-name">
                        <button type="button" class="btn btn-outline-dark" onclick="generateTask('{{ batch.name }}')">
                           {% trans 'GENERATE' %}
                        </button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'No batches available.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <h2>{% trans 'Assigned tasks' %}</h2>
    <table class="mb-2" id="tasks-table">
        <thead>
        <tr>
            <th>{% trans 'Task ID' %}</th>
            <th>{% trans 'Task' %}</th>
            <th>{% trans 'Batch' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.task.id }}</td>
                <td>{{ task.task.task }}</td>
                <td>{{ task.task.batch.name }}</td>
                <td>
                    {% if task.task_submission.points is None %}
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#task-modal"
                                onclick='fillTaskModal("{{ task.task.id }}", "{{ task.task.task }}", "{{ task.task.image }}")'>
                           {% trans 'SOLVE' %}
                        </button>
                    {% else %}
                        {{ task.task_submission.points }} {% trans 'Point/s' %}
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'No tasks assigned.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'zaverecne_zadanie/students/task_modal.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.css">

    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathquill@0.10.1/build/mathquill.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tasks-table').DataTable();
            $('#batches-table').DataTable();
        });

        function fillTaskModal(id, task, image){
            if (image) {
                document.getElementById("task-image").src = `/${image}`;
                document.getElementById("task-image").style.display = "block";
            }
            else {
                document.getElementById("task-image").style.display = "none";
            }
            let str = insertNewlines(task, 100);
            str = str.replaceAll('$', "");

            str = str.replace(/ /g, '\\hspace{1mm}');
            str = str.replace('dfrac', '\\dfrac');
            convertEquation(str);
            document.getElementById("task_id").value = id;
        }


        function convertEquation(latexEquation) {
            var equationElement = document.getElementById('task');
            katex.render(latexEquation, equationElement, {
                throwOnError: true,
                displayMode: true
            });
        }

        function insertNewlines(equation, lineLength) {
            let result = '';
            let currentLineLength = 0;

            for (let i = 0; i < equation.length; i++) {
                const char = equation[i];
                result += char;
                currentLineLength++;

                // Check if the current line length exceeds the specified line length
                if (currentLineLength >= lineLength && char === ' ') {
                    result += '\\\\';
                    currentLineLength = 0;
                }
            }

            return result;
        }

        function generateTask(batchId) {
            document.getElementById("batch-name").value = batchId;
            document.getElementById("generate-task-form").submit();
        }

        var mathField = MathQuill.MathField(document.getElementById("equation-editor"));

        function insertSymbol(symbol) {
            mathField.cmd(symbol);
        }

        // Get the equation from the MathQuill instance
        function getEquation() {
            var equation = mathField.latex();
            console.log(equation);
            document.getElementById("students_solution").value = equation;
            document.getElementById("task_modal_form").submit();
        }

    </script>
{% endblock %}
