{% load i18n %}

<div id="task-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>{% trans 'Task assignment' %}</h5>
                <div class="d-block" style="width: fit-content" id="task"></div>
                <img id="task-image" style="display: none" alt="Schema image" width="100%">
                <hr>
                <h5>Your solution</h5>
                <div class="mt-3" id="toolbar">
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\sqrt')">√</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\pi')">π</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\sin')">sin</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\cos')">cos</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\tan')">tan</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\sum')">∑</button>
                    <button class="btn btn-outline-secondary btn-xs" onclick="insertSymbol('\\int')">∫</button>
                </div>
                <div class="mt-2 mb-2 w-25 p-2" id="equation-editor"></div>
            </div>
            <form method="post" id="task_modal_form" action="{% url 'compare_solutions' %}">
                {% csrf_token %}
                <input name="students_solution" id="students_solution" type="hidden">
                <input name="task_id" id="task_id" type="hidden">
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary btm-sm ms-2" onclick="getEquation()" type="button"
                            formaction="">{% trans 'Submit' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>